body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  padding: 0 15px;
}
h2 {
  text-align:left;
  color:blueviolet;
}
h3 {
  color:blueviolet;
  margin:8px 0px 0px 0px;
}
h4 {
  color:blueviolet;
  margin:8px 0px 0px 0px;
}
.form_table {
  border-spacing:10px;
  border-collapse:separate;
}
.container {
  padding:10px;
  float:left;
}
img {
  border:none;
}
input {
  line-height:24px;
  margin:2px;
}
.alert, .alerthead {
    font-weight:bold;
    color:darkmagenta;
    font-size:14px;
    background-color:#FFFFBB;
    padding:10px 10px;
    display:block;
}

.alerthead {
    font-size:16px;
    text-align:center;
    border:#FFED73 1px solid;
}
.content {
	padding:5px 15px 5px 20px;
	font-size: 15px;
	letter-spacing:1px;
}
